@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --vh: 1vh;
  --primary-color: #32e544;
  --white-color: #ffffffe9;
  --panel-gap: 8px;
}

.grid-layout {
  display: grid;
  grid-template-areas:
    "global-nav global-nav global-nav"
    "left-sidebar main-view right-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.grid-layout-no-right-sidebar {
  display: grid;
  grid-template-areas:
    "global-nav global-nav"
    "left-sidebar main-view"
    "now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.grid-global-nav {
  grid-area: global-nav;
}

.grid-left-sidebar {
  grid-area: left-sidebar;
}

.grid-main-view {
  grid-area: main-view;
}

.grid-right-sidebar {
  grid-area: right-sidebar;
}

.grid-now-playing-bar {
  grid-area: now-playing-bar;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d5d5d58e transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Đường ray trong suốt */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d5d5d58e;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}


.custom-no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-no-scrollbar {
  scrollbar-width: none;
}


.custom-none-display-scrollbar {
  position: relative; /* Thiết lập container */
  overflow: hidden; /* Ẩn thanh cuộn mặc định */
}

.custom-none-display-scrollbar:hover {
  overflow: auto; /* Bật cuộn khi hover */
}

.custom-none-display-scrollbar::-webkit-scrollbar {
  width: 8px; /* Hiển thị thanh cuộn khi hover */
}

.custom-none-display-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(213, 213, 213, 0.56); /* Màu thanh cuộn */
  border-radius: 10px; /* Bo góc thanh cuộn */
}

.custom-none-display-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Đường ray trong suốt */
}

.custom-none-display-scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden; /* Mặc định ẩn */
}

.custom-none-display-scrollbar:hover::-webkit-scrollbar-thumb {
  visibility: visible; /* Hiển thị khi hover */
}

.custom-none-display-scrollbar::-webkit-scrollbar {
  pointer-events: none; /* Vô hiệu hóa tác động của scrollbar */
}

.custom-none-display-scrollbar:hover::-webkit-scrollbar {
  pointer-events: auto; /* Cho phép tương tác với scrollbar khi hover */
}
