body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Tạo biến --vh để lưu chiều cao khắc phục lỗi trên mobile */
:root {
    --vh: 1vh;
    --primary-color: #007bff;
    --panel-gap: 8px;
}

/* Reset mặc định cho HTML và body */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/*! Firefox */
/* html {
    scrollbar-color: #128612 #05c605;
} */

/*! Other Browser */
/* html {
    --scrollbarBG: #0ee70e;
    --thumbBG: #4cc34c;
}
body::-webkit-scrollbar {
    width: 5px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
} */


/* WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: #585858;
    border-radius: 10px; /* Round the scrollbar thumb */
    visibility: hidden;
    transition: all 200ms ease;
}
*:hover > *::-webkit-scrollbar-thumb {
    visibility: visible;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555;
    visibility: visible;
}

/* Firefox */
* {
    scrollbar-width: thin; /* Sets the scrollbar width */
    scrollbar-color: #888 transparent; /* Thumb color and track color */
}
*:hover {
    scrollbar-color: #555 transparent; /* Changes the thumb color on hover */
}
